body {
    padding-top: 70px;
}

.starter-template{
    padding: 40px 15px;
    text-align: center;
}

input#email{
    text-transform: lowercase;
}

label.error{
    color: red;
}

.req:after {
    content: '*';color: red;
}

.pagination {
    margin: 0px;
}